.footer_new{
    margin-top: -11%;
}
.map{
   border: 1px solid white;
    margin-top: 14%;
    width:520px;
    height:420px;
    float: left;
    margin-left: 4.5%;
    
    
}
.fff{
    display: flex;
    flex-direction: row;
}
.footer_content{
    color: white;
    margin-top: 14%;
    margin-left: 6%;
    font-size: 1.7rem;

}.bottom{
    font-size: 1.1rem;
    margin-top: 23%;
    margin-left: -55%;
    margin-bottom: 3%;
}
.line{
  
    border: solid white 0.1px;
    width: 80%;
    border-left: white;
    border-bottom: white;
    border-right: white;
    margin-left: 10%;
}
.emoji{
    color: re;
}
.work{
    font-size: 1.7rem;
}
.foot_icons{
    margin-top: 15%;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-left: 40%;
}
.f_insta{
    margin-left: 90%;

}
.f_twit{
    margin-left: 40%;

}
.f_link{
    margin-right: 40%;
    height: 50%;
}
.f_git{
    margin-right: 10%;
}

