.project{
    color: white;
    margin-left: 10%;
    margin-top: 15%;
    
}
.front_text{
  border: 3px solid white;

}
.background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* background: url("https://images.unsplash.com/photo-1447433589675-4aaa569f3e05?ixlib=rb-0.3.5&s=4222852e25e0f57d9485f7889957e99a&auto=format&fit=crop&w=2000&q=80"); */
    background-size: cover;
    background-position: 0 50%;
}
.outer-div,
.inner-div {
  height: 450px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.outer-div {
    perspective: 900px;
    
    perspective-origin: 50% calc(50% - 18em);
  }
  .inner-div {
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: #071011;
    font-size: 1rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
  }
  .inner-div:hover .link{
    opacity: 1;
    top: 0;
  }
  .outer-div:hover .inner-div {
    transform: rotateY(180deg);
  }
  .front,
.back {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front {
  cursor: pointer;
  height: 100%;
  background:black;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 73%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper .link{
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);

}
.ama_img{
  margin-right: 2.2%;
  width: 96%;
  height: 55%;
  margin-top: 1.9%;
}
.outer-div{
  margin-top: 2%;
  
  margin-left: 13%;
}
.front_text-header{
  font-size: 1.5rem;
  font-weight:bold;

  color: white;
  
}
.front_text-hover{
  display: flex;
  flex-direction: column;
  margin-top: 23%;
  font-size: 1.1rem;
  color: white;
  width: 70%;
  margin-left: 15%;
  box-shadow: 0px 0px 45px 0px white;
  margin-bottom: 12%;
}
.small{
  font-size: 1.1rem;
  color: white;
  margin-top: -2%;
  font-weight: lighter;
}
.linker{
  color: white;
  text-decoration: none;
}


/* SECOND */


.outer-div-2,
.inner-div-2 {
  height: 450px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;

}
.outer-div-2 {
    perspective: 900px;
    perspective-origin: 50% calc(50% - 18em);
    
    
  }
  .inner-div-2 {
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: #071011;
    font-size: 1rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
  }
  .inner-div-2:hover .link-2{
    opacity: 1;
    top: 0;
  }
  .outer-div-2:hover .inner-div-2 {
    transform: rotateY(180deg);
  }
  .front-2,
.back-2 {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front-2 {
  cursor: pointer;
  height: 100%;
  background:black;
  /* margin-top: -160%; */

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          
        
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.back-2 {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 73%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper-2 .link-2{
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);

}
.ama_img-2{
  margin-right: -0.1%;
  width: 100%;
  height: 54%;

/* correct this */
  margin-top: -89%;
}
.outer-div-2{
  margin-left: 35%;
}
.front_text-header-2{
  font-size: 1.5rem;
  font-weight:bold;
  color: white;
  
}
.front_text-hover-2{
  display: flex;
  flex-direction: column;
  margin-top: 23%;
  font-size: 1.1rem;
  color: white;
  width: 70%;
  margin-left: 15%;
  box-shadow: 0px 0px 45px 0px white;
  margin-bottom: 12%;

}
.small-2{
  font-size: 1rem;
  color: white;
  margin-top: -0.5%;
  font-weight: lighter;
}
.linker-2{
  color: white;
  text-decoration: none;
}

.first-row{
  display: flex;
  flex-direction: row;
  
}
.front_text-2{

  /* correct this */

  margin-top: -150%;
  border: 3px solid white;
 
}


/* THIRD */


.outer-div-3,
.inner-div-3 {
  height: 450px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.outer-div-3 {
    perspective: 900px;
    perspective-origin: 50% calc(50% - 18em);
    
    
  }
  .inner-div-3 {
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: #071011;
    font-size: 1rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
  }
  .inner-div-3:hover .link-3{
    opacity: 1;
    top: 0;
  }
  .outer-div-3:hover .inner-div-3 {
    transform: rotateY(180deg);
  }
  .front-3,
.back-3 {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front-3 {
  cursor: pointer;
  height: 100%;
  background:black;
  /* margin-top: -160%; */

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          
        
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.back-3 {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 73%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper-3 .link-3{
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);

}
.ama_img-3{
  margin-right: -0.1%;
  width: 100%;
  height: 55%;

/* correct this */
  margin-top: -83%;
}
.outer-div-3{
  margin-left: 57%;
}
.front_text-header-3{
  font-size: 1.5rem;
  font-weight:bold;
  color: white;
  
}
.front_text-hover-3{
  display: flex;
  flex-direction: column;
  margin-top: 23%;
  font-size: 1.1rem;
  color: white;
  width: 70%;
  margin-left: 15%;
  box-shadow: 0px 0px 45px 0px white;
  box-shadow: 0px 0px 45px 0px white;
  margin-bottom: 12%;

}
.small-3{
  font-size: 1.1rem;
  font-weight: lighter;
  color: white;
  margin-top: -2%;
}
.linker-3{
  color: white;
  text-decoration: none;
}


.front_text-3{

  /* correct this */

  margin-top: -150%;
  border: 3px solid white;
}


/* fourth */


.outer-div-4,
.inner-div-4 {
  height: 450px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.outer-div-4 {
    perspective: 900px;
    perspective-origin: 50% calc(50% - 18em);
    
    
  }
  .inner-div-4 {
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: #071011;
    font-size: 1rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
  }
  .inner-div-4:hover .link-4{
    opacity: 1;
    top: 0;
  }
  .outer-div-4:hover .inner-div-4 {
    transform: rotateY(180deg);
  }
  .front-4,
.back-4 {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front-4 {
  cursor: pointer;
  height: 100%;
  background:black;
  /* margin-top: -160%; */

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          
        
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.back-4 {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 73%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper-4 .link-4{
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);

}
.ama_img-4{
  margin-right: 1%;
  width: 98%;
  padding-top: 7.8px;
  height: 55%;

/* correct this */
margin-top: -2%;
}
.outer-div-4{
  margin-left: 47%;
}
.front_text-header-4{
  font-size: 1.5rem;
  font-weight:bold;
  color: white;
  
}
.front_text-hover-4{
  display: flex;
  flex-direction: column;
  margin-top: 23%;
  font-size: 1.1rem;
  color: white;
  width: 70%;
  margin-left: 15%;
  box-shadow: 0px 0px 45px 0px white;
  box-shadow: 0px 0px 45px 0px white;
  margin-bottom: 12%;

}
.small-4{
  font-size: 1.1rem;
  font-weight: lighter;
  color: white;
  margin-top: -2%;
}
.linker-4{
  color: white;
  text-decoration: none;
}


.front_text-4{

  /* correct this */
  border: 3px solid white;
  margin-top: 11%;
  
  
}

.second-row{
  margin-right: -21.5%;
  margin-top: -11.5%;

 
}



/* fifth */



.outer-div-5,
.inner-div-5 {
  height: 450px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.outer-div-5 {
    perspective: 900px;
    perspective-origin: 50% calc(50% - 18em);
    
    
  }
  .inner-div-5 {
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: #071011;
    font-size: 1rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
  }
  .inner-div-5:hover .link-5{
    opacity: 1;
    top: 0;
  }
  .outer-div-5:hover .inner-div-5 {
    transform: rotateY(180deg);
  }
  .front-5,
.back-5 {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front-5 {
  cursor: pointer;
  height: 100%;
  background:black;
  /* margin-top: -160%; */

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          
        
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.back-5 {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 73%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper-5 .link-5{
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);

}
.ama_img-5{
  margin-right: 1%;
  width: 99%;
  height: 55%;
  padding-top: 1%;

/* correct this */
  margin-top: -0.5%;
}
.outer-div-5{
  margin-left: 28.8%;
}
.front_text-header-5{
  font-size: 1.5rem;
  font-weight:bold;
  color: white;
  
}
.front_text-hover-5{
  display: flex;
  flex-direction: column;
  margin-top: 23%;
  font-size: 1.1rem;
  color: white;
  width: 70%;
  margin-left: 15%;
  box-shadow: 0px 0px 45px 0px white;
  box-shadow: 0px 0px 45px 0px white;
  margin-bottom: 12%;

}
.small-5{
  font-size: 1.1rem;
  font-weight: lighter;
  color: white;
  margin-top: -2%;
}
.linker-5{
  color: white;
  text-decoration: none;
}


.front_text-5{

  /* correct this */
  border: 3px solid white;
  margin-top: -150%;
}

/* sixth */


.outer-div-6,
.inner-div-6 {
  height: 453px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.outer-div-6 {
    perspective: 900px;
    perspective-origin: 50% calc(50% - 18em);
    
    
  }
  .inner-div-6 {
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: #071011;
    font-size: 1rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
  }
  .inner-div-6:hover .link-6{
    opacity: 1;
    top: 0;
  }
  .outer-div-6:hover .inner-div-6 {
    transform: rotateY(180deg);
  }
  .front-6,
.back-6 {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front-6 {
  cursor: pointer;
  height: 100%;
  background:black;
  /* margin-top: -160%; */

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          
        
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.back-6 {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 73%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper-6 .link-6{
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);

}
.ama_img-6{
  margin-right: 6.9%;
  width: 82.5%;
  padding-top: 7px;
  height: 48%;

/* correct this */
margin-top: -1%;
}
.outer-div-6{
  margin-left: 10.7%;
}
.front_text-header-6{
  font-size: 1.5rem;
  font-weight:bold;
  color: white;
  
}
.front_text-hover-6{
  display: flex;
  flex-direction: column;
  margin-top: 23%;
  font-size: 1.1rem;
  color: white;
  width: 70%;
  margin-left: 15%;
  box-shadow: 0px 0px 45px 0px white;
  box-shadow: 0px 0px 45px 0px white;
  margin-bottom: 12%;

}
.small-6{
  font-size: 1.1rem;
  font-weight: lighter;
  color: white;
  margin-top: -2%;
}
.linker-6{
  color: white;
  text-decoration: none;
}


.front_text-6{

  /* correct this */
  border: 3px solid white;
  margin-top: -150%;
}


/* seventh */

.outer-div-7,
.inner-div-7 {
  height: 450px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.outer-div-7 {
    perspective: 900px;
    perspective-origin: 50% calc(50% - 18em);
    
    
  }
  .inner-div-7 {
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: #071011;
    font-size: 1rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
  }
  .inner-div-7:hover .link-7{
    opacity: 1;
    top: 0;
  }
  .outer-div-7:hover .inner-div-7 {
    transform: rotateY(180deg);
  }
  .front-7,
.back-7 {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front-7 {
  cursor: pointer;
  height: 100%;
  background:black;
  /* margin-top: -160%; */

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          
        
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.back-7 {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 73%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper-7 .link-7{
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);

}
.ama_img-7{
  margin-right: 1.7%;
  width: 96.5%;
  padding-top: 7.8px;
  height: 55%;

/* correct this */
margin-top: -1%;
}
.outer-div-7{
  margin-left: 46%;
}
.front_text-header-7{
  font-size: 2rem;
  font-weight:bold;
  color: white;
  
}
.front_text-hover-7{
  display: flex;
  flex-direction: column;
  margin-top: 23%;
  font-size: 1.1rem;
  color: white;
  width: 70%;
  margin-left: 15%;
  box-shadow: 0px 0px 45px 0px white;
  box-shadow: 0px 0px 45px 0px white;
  margin-bottom: 12%;

}
.small-7{
  font-size: 1.1rem;
  font-weight: lighter;
  color: white;
  margin-top: -2%;
}
.linker-7{
  color: white;
  text-decoration: none;
}


.front_text-7{

  /* correct this */
  border: 3px solid white;
  margin-top: 11%;
  
  
}

/* eigth */


.outer-div-8,
.inner-div-8 {
  height: 450px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.outer-div-8 {
    perspective: 900px;
    perspective-origin: 50% calc(50% - 18em);
    
    
  }
  .inner-div-8 {
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: #071011;
    font-size: 1rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
  }
  .inner-div-8:hover .link-8{
    opacity: 1;
    top: 0;
  }
  .outer-div-8:hover .inner-div-8 {
    transform: rotateY(180deg);
  }
  .front-8,
.back-8 {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front-8 {
  cursor: pointer;
  height: 100%;
  background:black;
  /* margin-top: -160%; */

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          
        
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.back-8 {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 73%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper-8 .link-8{
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);

}
.ama_img-8{
  margin-right: 1.6%;
  width: 96.5%;
  height: 55%;

/* correct this */
  margin-top: 1.6%;
}
.outer-div-8{
  margin-left: 25%;
}
.front_text-header-8{
  font-size: 2rem;
  font-weight:bold;
  color: white;
  
}
.front_text-hover-8{
  display: flex;
  flex-direction: column;
  margin-top: 23%;
  font-size: 1.1rem;
  color: white;
  width: 70%;
  margin-left: 15%;
  box-shadow: 0px 0px 45px 0px white;
  box-shadow: 0px 0px 45px 0px white;
  margin-bottom: 12%;

}
.small-8{
  font-size: 1.1rem;
  font-weight: lighter;
  color: white;
  margin-top: -2%;
}
.linker-8{
  color: white;
  text-decoration: none;
}


.front_text-8{

  /* correct this */
  border: 3px solid white;
  margin-top: -150%;
}


/* ninth */

.outer-div-9,
.inner-div-9 {
  height: 450px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.outer-div-9 {
    perspective: 900px;
    perspective-origin: 50% calc(50% - 18em);
    
    
  }
  .inner-div-9 {
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: #071011;
    font-size: 1rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
  }
  .inner-div-9:hover .link-9{
    opacity: 1;
    top: 0;
  }
  .outer-div-9:hover .inner-div-9 {
    transform: rotateY(180deg);
  }
  .front-9,
.back-9 {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front-9 {
  cursor: pointer;
  height: 100%;
  background:black;
  /* margin-top: -160%; */

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          
        
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.back-9 {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 73%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper-9 .link-9{
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);

}
.ama_img-9{
  margin-right: 1.7%;
  width: 96.5%;
  padding-top: 7.8px;
  height: 55%;

/* correct this */
margin-top: -1%;
}
.outer-div-9{
  margin-left: 5%;
}
.front_text-header-9{
  font-size: 2rem;
  font-weight:bold;
  color: white;
  
}
.front_text-hover-9{
  display: flex;
  flex-direction: column;
  margin-top: 23%;
  font-size: 1.1rem;
  color: white;
  width: 70%;
  margin-left: 15%;
  box-shadow: 0px 0px 45px 0px white;
  box-shadow: 0px 0px 45px 0px white;
  margin-bottom: 12%;

}
.small-9{
  font-size: 1.1rem;
  font-weight: lighter;
  color: white;
  margin-top: -2%;
}
.linker-9{
  color: white;
  text-decoration: none;
}


.front_text-9{

  /* correct this */
  border: 3px solid white;
  margin-top: -150%;
}



