.s{
    margin-top: -6%;
}
.scroll{
    margin-top: 20%;
    margin-left: -70%;
}
.scrl1{
    transform: rotate(90deg);
    margin-left: -8%;
    color: white;
}
.scrl2{
    transform: rotate(90deg);
    margin-left: 91.2%;
    color: white;
    margin-top: -1%;
}
.icons{
    display: flex;
    color: white;
}
.icon1{
    margin-left: 7.5%;
    padding-top: 2.5%;
    color: white;
}
.icon2{
    margin-left: 83.5%;
    padding-top: 2.4%;
    color: white;
    

}